@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
}

/* Estilos Mobile First */
.container_conteudo {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.aside_article {
  display: none;
}

.article_info {
  width: 100%;
}

.article_titulo h1 {
  font-size: 1.6em;
  margin-bottom: 15px;
  border-bottom: 3px solid #846AFF;
}

.info_autora_e_data {
  display: flex;
  justify-content: center;
  margin: 15px;
}


.info_autora {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin-right: 2.5rem;
}

.info_autora img {
  width: 84px;
  height: 84px;
  margin-left: 2rem;
}

.nome_autora {
    display: flex;
    margin-left: 0.8rem;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 600;
  }


.info_data {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info_data img {
  width: 35px;
  margin-bottom: 1rem;
}

.data_atualizacao{
  color: #959595;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.atualizacao{
  font-size: 16px;
  font-weight: 400;
}

.img_git {
  width: 100%;
  height: auto;
  margin: 1.5rem 0;
}

.paragrafo{
  margin-bottom: 1.5rem;
}

.subtitulo{
  margin: 1.5rem 0;
}

.fonte-destaque {
  color: #846AFF; 
  text-decoration: underline;
  font-style: italic;
}

/* Media Queries para Tablets */
@media screen and (min-width: 768px) {
  .container_conteudo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  .aside_article {
    display: flex;
    width: 36%;
    padding: 1rem;
  }

  .aside_title{
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin: 35px 0 20px 0;
    border-bottom: 3px solid #846AFF;
  }

  .bloco_artigos{
    padding: 5px;
    border: 2px dashed #9747FF;
    border-radius: 8px;
  }  

 .article_info {
    width: 63%;
    padding: 1rem;
  }

  .article_titulo h1 {
    font-size: 2em;
  }

  .info_autora img {
    width: 64px;
    height: 64px;
  }

  .redes_title{
    font-size: 1.6rem;
    margin-top: 1rem;
    border-top: 3px solid #846AFF;
    text-align: center;
  }

  .redes_acesso{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.7rem;
  }

  .redes_acesso img{
    width: 60px;
    height: 60px;
    padding: 5px;
 }

  .informacoes{
    display: block;
    width: 63%;
  }
}

/* Media Queries para Desktops */
@media screen and (min-width: 1378px) {

  .article_titulo{
    padding-top: 2.2rem;
  }
  .paragrafo{
    font-size: 24px;
  }
}