.header-container {
    height: 6rem;
    background-color: #fff;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    gap: 4.5rem;
    box-shadow: 0 0px 7px 0px #00000040;
    position: relative;
    box-sizing: border-box;
}

.header-logo {
    width: 11rem;
}

.menuHamburguer-icon{ 
    width: 2rem;
}

.header-container nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn_nav-Menu {
    display: none;
}

.btn_nav-Menu a {
    color: #846AFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
}

button {
    background-color: #ffffff;
}

/* Media Queries para Tablets */
@media screen and (min-width: 768px) { 

    .header-container {
        justify-content: space-around;
    }

    .header-container nav {
        width: 28rem;
        justify-content: space-around;
    }

    .btn_nav-MenuHamburguer {
        display: none;
    }

    .btn_nav-Menu {
        display: flex;
    }

}

@media screen and (min-width: 1199px) { 
    
    .header-container {
        justify-content: space-between;
        padding: 2rem;
    }
    
    .btn_nav-Menu:hover, .btn_nav-Menu a:hover {
        color: #594ba1;
    }

}