@import url('./font-face.css');

body {
  font-family: "Roboto", sans-serif;
}

/* Contêiner Principal */

.container-newsletter {
  display: flex;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  padding: 1.5rem;
  background-image: url(../img/imgs/trianguloBG_newsletter.svg);
  background-repeat: no-repeat;
  background-size: 63vw;
  background-position: bottom right;
}

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80vw;
}

.subscribe header img {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1.8rem;
}

.subscribe h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #846aff;
  margin-top: 0;
  margin-bottom: 1.8rem;
}

.subscribe p {
  font-size: 1rem;
  text-align: left;
  min-width: 19rem;
  line-height: 1.5;
  color: #121214;
  margin-bottom: 1.8rem;
}

.subscribe form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  width: 22rem;
}

.subscribe input[type="email"] {
  width: 100%;
  height: 3rem;
  padding: 0 3rem;
  border: 1px solid #121214;
  border-radius: 0.4rem;
  font-size: 1rem;
  background-image: url("../../assets/img/icons/icone_email.png");
  background-position: 0.5rem center;
  background-repeat: no-repeat;
  background-size: 2.2rem;
  box-sizing: border-box;
}

.subscribe button {
  width: 100%;
  max-width: 17rem;
  height: 3rem;
  padding: 0 3rem;
  background-color: #846aff;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe button:hover {
  background-color: #846affac;
}

/* Seção de retorno à pagina inicial*/

.subscribe .additional-info {
  font-size: 1rem;
  color: #121214;
}

.subscribe .additional-info p {
  font-style: italic;
}

.subscribe .additional-info button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
}

.subscribe .additional-info button a {
  font-weight: 400;
  font-size: 1rem;
  color: #121214;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.subscribe .additional-info button img {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
}

.subscribe .additional-info button:hover a {
  color: #846aff;
}

.subscribe .additional-info button:hover img {
  filter: brightness(1.8);
  opacity: 0.8;
}

/* Seção de Imagem */

.image-newsletter {
  display: none;
}

/* Triângulo Background*/

.triangulo {
  width: 100vw;
  height: 20vh;
  z-index: -1;
}

/* Media Queries para dispositivos maiores */


@media (min-width: 375px) {

  .container-newsletter {
    flex-direction: column;
    padding: 2rem;
  }

  .subscribe img {
    width: 13.8rem;
    margin-bottom: 3rem;
  }

  .subscribe p {
    font-size: 1rem;
    width: 21rem;
    text-align: justify;
    margin-bottom: 0rem;
  }

  .subscribe form {
    padding: 1rem;
    gap: 1rem;
  }

  .subscribe input[type="email"] {
    font-size: 1.1rem;
    width: 20rem;
    max-width: 36rem;
    padding-left: 5rem;
    height: 3.5rem;
    background-position: 1.5rem center;
    background-repeat: no-repeat;
    background-size: 3rem;
  }

  .subscribe button {
    font-size: 1.1rem;
    width: 20rem;
    max-width: 36rem;
    height: 3.5rem;
  }

  .subscribe .additional-info {
    font-size: 1.25rem;
  }

  .subscribe .additional-info button a {
    font-size: 1rem;
  }

  .subscribe .additional-info a img {
    width: 1.6rem;
    margin-bottom: 0rem;
  }

  .additional-info p{
    margin-bottom: 0rem;
    padding-left: 0rem;
  }

  .img_celular-newsletter {
    display: none;
  }

}

/* Versão Desktop */

@media (min-width: 768px) {
  .container-newsletter {
    background-size: 50vw;
  } 
  
  .subscribe {
    padding: 1rem;
    margin-left: 4rem;
  }

  .subscribe img {
    width: 15rem;
}

  .subscribe p {
    width: 30rem;
    font-size: 1.1rem;
  }

  .subscribe form {
    width: 32rem;
  }

  .subscribe input[type="email"] {
    width: 30rem;
  }

  .subscribe button { 
    width: 30rem;
  }

  .subscribe .additional-info p {
    font-size: 1.5rem;
  }
  

  .subscribe .additional-info button a {
    font-size: 1.5rem;
  }

  .subscribe .additional-info button {
    width: 20rem;
  }

  .subscribe .additional-info a img {
    width: 2.4rem;
    height: 2.1rem;
  }

}

@media (min-width: 1020px) {
  
  .container-newsletter {
    justify-content: space-around;
    background-size: 54vw;
  }

  .subscribe {
    width: 50vw;
    margin-left: 0rem;
  }

  .subscribe p {
    width: 49vw;
    max-width: 39rem;
    font-size: 1.3rem;
  }

  .img_celular-newsletter {
    display: flex;
    position: absolute;
    transform: translate(63vw, -54rem);
    width: 20rem;
  }

}