@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

/* Contêiner Principal */
.container-newsletter {
  display: flex;
  align-items: center;
  max-width: 1800px;
  width: 100%;
  overflow: hidden;
  flex-direction: row;
}

.subscribe {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
}

.subscribe header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe header img {
  width: 81px;
  height: 81px;
  margin-bottom: 31px;
}

.subscribe h1 {
  font-size: 40px;
  font-weight: 700;
  color: #846aff;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 31px;
}

.subscribe p {
  font-size: 24px;
  line-height: 1.7;
  color: #121214;
  margin-left: 20px;
  margin-bottom: 31px;
  text-align: left;
}

.subscribe form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 31px;
  padding: 40px;
}

.subscribe input[type="email"] {
  width: 575px;
  height: 55px;
  padding: 0px 80px;
  border: 1px solid #121214;
  border-radius: 5px;
  font-size: 18px;
  background-image: url("../../assets/img/imgs/email_newsletter.png");
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: 53px 31.52px;
  box-sizing: border-box;
}

.subscribe button {
  width: 575px;
  height: 55px;
  padding: 15px;
  background-color: #846aff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe button:hover {
  background-color: #846affac;
}

.subscribe .additional-info {
  width: 900px;
  align-items: center;
  font-size: 24px;
  color: #121214;
}

.subscribe .additional-info p:first-child {
  font-style: italic;
  margin-bottom: 20px;
}

.subscribe .additional-info p:last-child {
  display: flex;
  align-items: center;
  text-align: center;
}

.subscribe .additional-info img {
  width: 41px;
  height: 39px;
  margin-left: 10px;
}

/* Seção de Imagem */
.image-newsletter {
  flex: 1;
  margin-left: 80px;
  background-size: cover;
  background-position: center;
  height: 100%;
}

/* Triângulo Background*/
.triangulo {
  background-image: url("/assets/img/imgs/trianguloBG_newsletter.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 80px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

/* Media Queries para dispositivos menores */

/* Tablets */
@media (max-width: 768px) {
  .container-newsletter {
    flex-direction: column;
    align-items: center;
  }

  .subscribe {
    width: 688px;
    height: 784px;
    margin-left: 0;
  }

  .subscribe header img {
    width: 77px;
    height: 77px;
    margin-bottom: 31px;
  }

  .subscribe h1 {
    font-size: 32px;
    font-weight: 500;
  }

  .subscribe p {
    width: 604px;
    font-size: 20px;
  }

  .subscribe .additional-info {
    font-size: 20px;
    width: 576px;
  }

  .image-newsletter {
    display: none;
  }

  .triangulo {
    width: 50vh;
    background-size: contain;
    background-position: bottom;
  }
}

/* Smartphones */
@media (max-width: 480px) {
  .container-newsletter {
    padding: 10px;
  }

  .subscribe {
    padding: 10px;
    margin-left: 0;
  }

  .subscribe h1 {
    font-size: 32px;
  }

  .subscribe p {
    font-size: 18px;
    text-align: center;
    margin-right: 0;
  }

  .subscribe input[type="email"] {
    width: 100%; /* Faz o input ocupar a largura total */
    padding: 0 20px; /* Reduz o padding para caber melhor em telas menores */
  }

  .subscribe button {
    width: 100%;
  }

  .image-newsletter {
    height: 200px; /* Altura menor para smartphones */
  }

  .triangulo {
    display: none; /* Esconde o triângulo em telas muito pequenas */
  }

  .subscribe .additional-info {
    width: 100%;
    font-size: 16px; /* Fonte menor para melhor leitura */
  }
}
