@import url('./font-face.css');

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

/* Contêiner Principal */

.container-newsletter {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  padding: 1.5rem;
}

.subscribe {
  flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.subscribe header img {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1.8rem;
}

.subscribe h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #846aff;
  margin-top: 0;
  margin-bottom: 1.8rem;
}

.subscribe p {
  font-size: 1rem;
  text-align: left;
  min-width: 19rem;
  line-height: 1.5;
  color: #121214;
  margin-bottom: 1.8rem;
}

.subscribe form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  width: 100%;
}

.subscribe input[type="email"] {
  width: 100%;
  max-width: 17rem;
  height: 3rem;
  padding: 0 3rem;
  border: 1px solid #121214;
  border-radius: 0.4rem;
  font-size: 1rem;
  background-image: url("../../assets/img/icons/icone_email.png");
  background-position: 0.5rem center;
  background-repeat: no-repeat;
  background-size: 2.2rem;
  box-sizing: border-box;
}

.subscribe button {
  width: 100%;
  max-width: 17rem;
  height: 3rem;
  padding: 0 3rem;
  background-color: #846aff;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe button:hover {
  background-color: #846affac;
}

/* Seção de retorno à pagina inicial*/

.subscribe .additional-info {
  font-size: 1rem;
  color: #121214;
}

.subscribe .additional-info p {
  font-style: italic;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.subscribe .additional-info button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
}

.subscribe .additional-info button a {
  font-weight: 400;
  font-size: 1rem;
  color: #121214;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.subscribe .additional-info button img {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
}

.subscribe .additional-info button:hover a {
  color: #846aff;
}

.subscribe .additional-info button:hover img {
  filter: brightness(1.8);
  opacity: 0.8;
}

/* Seção de Imagem */

.image-newsletter {
  display: none;
}

/* Triângulo Background*/

.triangulo {
  background-image: url("/assets/img/imgs/trianguloBG_newsletter.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 26vh;
  z-index: -1;
}

/* Media Queries para dispositivos maiores */

/* Versão Tablets */

@media (min-width: 480px) {
  .container-newsletter {
    flex-direction: column;
    padding: 2rem;
  }

  .subscribe header img {
    width: 4.8rem;
    height: 4.8rem;
    margin-bottom: 2rem;
  }

  .subscribe h1 {
    font-size: 2rem;
  }

  .subscribe p {
    font-size: 1.25rem;
    min-width: 37rem;
  }

  .subscribe form {
    width: 100%;
    padding: 1rem;
    gap: 1rem;
  }

  .subscribe input[type="email"] {
    font-size: 1.1rem;
    width: 36rem;
    min-width: 30rem;
    max-width: 36rem;
    padding-left: 5rem;
    height: 3.5rem;
    background-position: 1.5rem center;
    background-repeat: no-repeat;
    background-size: 3rem;
  }

  .subscribe button {
    font-size: 1.1rem;
    min-width: 30rem;
    max-width: 36rem;
    height: 3.5rem;
  }

  .subscribe .additional-info {
    font-size: 1.25rem;
  }

  .subscribe .additional-info button a {
    font-size: 1.25rem;
  }

  .subscribe .additional-info a img {
    width: 1.9rem;
    height: 2rem;
  }

  .triangulo {
    background-size: cover;
    height: 32vh;
    width: 33vh;
    background-position: bottom;
  }
}

/* Versão Desktop */

@media (min-width: 768px) {
  .container-newsletter {
    flex-direction: row;
    max-width: 1800px;
    padding: 2rem;
  }

  .subscribe {
    margin-left: 3rem;
    padding: 2rem;
    align-items: flex-start;
    text-align: left;
  }

  .subscribe header {
    display: flex;
    margin-left: 5rem;
    flex-direction: column;
    align-items: center;
  }

  .subscribe header img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
  }

  .subscribe h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .subscribe p {
    margin-left: 5rem;
    width: 55rem;
    font-size: 1.5rem;
  }

  .subscribe form {
    width: 100%;
    padding: 2rem;
  }

  .subscribe input[type="email"] {
    max-width: 36rem;
    height: 3.5rem;
  }

  .subscribe button {
    max-width: 36rem;
    height: 3.5rem;
  }

  .subscribe .additional-info {
    margin-left: 2rem;
    font-size: 1.5rem;
  }

  .subscribe .additional-info button a {
    margin-left: 6rem;
    font-size: 1.5rem;
  }

  .subscribe .additional-info a img {
    width: 2.4rem;
    height: 2.1rem;
  }

  /* Seção da imagem (mobile) */

  .image-newsletter {
    flex: 1;
    margin-left: 5rem;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: block;
  }

  /*Background*/

  .triangulo {
    background-size: contain;
    right: 0;
    width: 100vh;
    height: 100vh;
  }
}
