@import url('./font-face.css');

.hero {
    background-color: #F8F8FF;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero img {
    height: 19rem;
}

.hero div {
    height: 15rem;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-direction: column;
    align-items: center;
}

.hero-titulo, .hero-subtitulo {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.hero-titulo {
    font-size: 1.4rem;
    font-weight: 600; 
}

.destaque--hero-titulo {
    color: #846AFF;
}

.hero-subtitulo {
    font-size: 1rem;
    font-weight: 400;
    color: #121214;
    max-width: 27rem;
}

.conteudo_Principal {
    background-color: #fff;
    padding: 2rem 1rem;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo_Principal h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    width: 20rem;
    position: relative;
    right: 25%;
}

.container_cards {
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    box-sizing: border-box;
    max-width: 21rem;
    height: 19rem;
    border: 2px solid #EEEEFF;
    border-radius: .5rem;
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin: .8rem auto;
    display: flex;
    gap: .6rem;
    flex-wrap: wrap;
}

.card img {
    width: 100%;
    max-width: 25rem;
}

.card h3 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: .75rem auto;
}

.card p {
    font-size: .875rem;
    font-weight: 400;
    color: #121214;
}

/* Media Queries para Tablets */
@media screen and (min-width: 768px) { 

    .hero div {
        height: 18rem;
    }

    .hero img {
        height: 23rem;
    }

    .hero-titulo {
        font-size: 2rem;
    }

    .hero-subtitulo {
        font-size: 1.25rem;
    }

    .hero-titulo, .hero-subtitulo {
        max-width: 44rem;
    }

    .card {
        height: 22rem;
    }
    
    .card h3, .card p {
        padding: .6rem;
    }


}

@media screen and (min-width: 1199px) { 
    
    .hero {
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .hero div {
        width: 33rem;
        align-items: flex-start;
    }

    .hero-titulo, .hero-subtitulo {
        max-width: 52rem;
        text-align: left;
    }

    .hero-titulo {
        font-size: 2.2rem;
    }

    .hero-subtitulo {
        font-size: 1.2rem;
    }

    .container_cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        max-width: 75rem;
        padding: 1rem;
        width: 100%;
    }

    .conteudo_Principal h2 {
        right: 28%;
    }

    
}

@media screen and (min-width: 1500px) { 

    .conteudo_Principal h2 {
        right: 26%;
    }

}